<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2>Introduce tus datos de Agente</h2>
		<form class="form-horizontal" method="post" action="/login">
			<div class="form-group">
				<label class="control-label col-sm-2" for="username">Nombre de Agente:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="username"
						placeholder="Ejemplo: Agente1" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="password">Contraseña:</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" name="password"
						placeholder="Introduzca la Contraseña" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="kind">Tipo:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="kind"
						placeholder="EJ:person" required="true" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</div>
			<input type="hidden" name="${_csrf.parameterName}"
				value="${_csrf.token}" />
		</form>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>